* {
  box-sizing: border-box;
}

.steps-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.steps-form {
  display: flex;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 160px;
}

.form-field {
  height: 50px;
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
}

.steps-form__submit-btn {
  background-color: transparent;
  border-radius: 7px;
  padding: 5px 30px;
  margin-top: 35px;
  height: 50px;
  font-size: 20px;
}

.error-text {
  color: #ff0000;
  margin: 0;
  font-size: 14px;
}

.steps-list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 40px;
}

.steps-list__header .header__km {
  margin-right: 2rem;
}

.steps-list {
  display: flex;
  flex-direction: column;
  border: #000000 solid 2px;
  border-radius: 30px;
  width: 500px;
  padding: 20px 40px;
  gap: 20px;
}

.steps-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.steps-item__btn {
  font-size: 16px !important;
  color: #000000 !important;
}

